<html>
	<head>
		<title>{{t}}</title>
	</head>
	<style>	
		h1{
			font-family:"Arial Black", Gadget, sans-serif;
		}
		body{
			background-color:white;
		}
	</style>
<body>
	<h1>{{h}}</h1>
	<hr>
	<h3>Update employee infomation with a reference</h3>
	<form action="/update_task" method="POST">
	{% for info in infos %}
		Unique Object ID : {{ info['_id'] }}<br/>
	<input type="text" name="_id" value="{{ info['_id'] }}" hidden>

	<table>
	<tr>
	<td>Employee Name</td><td> : </td><td><input type="text" name="name" value="{{ info['name'] }}" placeholder="{{ info['name'] }}"></td>
	</tr>
	<tr>
	<td>Email</td><td> : </td><td><textarea type="text" name="email" rows=3 cols=30 placeholder="{{ info['email'] }}"> {{ info['email'] }} </textarea></td>
	</tr>
	<tr>
	<td>Gender</td><td> : </td><td><input type="text" name="gender" value="{{ info['gender'] }}" placeholder="{{ info['gender'] }}"></td>
	</tr>
	<tr>
	<td>Joining Date</td><td> : </td><td><input type="text" name="joining_date" value="{{ info['joining_date'] }}" placeholder="{{ info['joining_date'] }}"></td>
	</tr>
	</table>
	{% endfor %}
		<button type="submit"> Update information </button>
		<br/>
	</form>
	<a href="/">Return to employeeList</a>
</body>
</html>
